
.idea/compiler.xml
.idea/git.iml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
dining-facility-management/.gradle/8.8/checksums/checksums.lock
dining-facility-management/.gradle/8.8/dependencies-accessors/gc.properties
dining-facility-management/.gradle/8.8/executionHistory/executionHistory.lock
dining-facility-management/.gradle/8.8/fileChanges/last-build.bin
dining-facility-management/.gradle/8.8/fileHashes/fileHashes.lock
dining-facility-management/.gradle/8.8/gc.properties
dining-facility-management/.gradle/buildOutputCleanup/buildOutputCleanup.lock
dining-facility-management/.gradle/buildOutputCleanup/cache.properties
dining-facility-management/.gradle/vcs-1/gc.properties
